@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');

/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif; */

*, :after, :before {
    box-sizing: inherit;
    /* box-sizing: border-box;
    padding: 0;
    margin: 0; */
}

/* main container */

.grid {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav"
    "body body body body"
    "footer footer footer footer";
    grid-template-columns: .5fr 2fr .2fr;
    grid-template-rows: auto;
    /* grid-gap: 24px; */
    column-gap: 24px;
    margin: 16px;
    grid-auto-flow: dense;
    /* background-color: rgb(192, 120, 32); */
    
}

.grid-thumbnails {
    display: flex;
    /* grid-template-areas: 
    "header"
    "nav"
    "body"
    "footer footer"; */
    grid-column: 2;
    width: 100%;
    /* row-gap: 16px; */
    /* grid-gap: 24px; */
    column-gap: 24px;
    /* margin-right: auto;
    margin-left: auto; */
    /* margin: 32px; */
    grid-auto-flow: hidden;
    /* background-color: blueviolet; */
    justify-content: start;
    /* align-items: baseline; */

}

.grid-info {
    display: grid;
    grid-column: 2;
    grid-gap: 24px;
    column-gap: 24px;
    margin: 32px;
    grid-auto-flow: hidden;
 }

body {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
    padding: 0em;
    /* width: 100%; */
    color: 000;
}

/* main nav */

.nav-container {
    display: grid;
    grid-column: 1;
    /* margin: 0; */
}

#nav {
    position: sticky;
    width: 500px;
    /* height: 100vh; */
    box-sizing: border-box;
    /* width: 100%; */
    /* margin-top: 32px; */
    /* padding-top: 32px; */
    

}

/* #nav {
    display: grid;
    grid-column: 1fr;
    height: 8px; */
    /* width: 100%; */
    /* margin-top: 32px; */
    /* padding-top: 32px; */
    /* position: sticky;
    z-index: 9;

} */

.nav-h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-bottom: 48px;
    position: sticky;
    
}


h2 {
    display: grid;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding: 8px 0;
    margin: 0;
    position: sticky;
    /* line-height: 32px; */
}

ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color:000;
}

a.nav:hover {
    color: #000;
}

.smart {
    color: blue;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}


#project-container {
    display: flex;
    grid-column: 2;
    gap: 24px;
    padding-top: 80px;
    margin: 8px;
    min-height: 100vh;
    width: 100%;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    /* z-index: 1; */

}

#container1 {
    display: flex;
    grid-column: 3;
    position: sticky;
    width: 800px;
    height: 400px;
    background-color: blue;
    overflow: auto;
}
#container2 {
    display: flex;
    grid-column: 3;
    position: sticky;
    width: 800px;
    height: 400px;
    background-color: blue;
    overflow: auto;
}
#container3 {
    display: flex;
    grid-column: 3;
    position: sticky;
    width: 800px;
    height: 400px;
    background-color: blue;
    overflow: auto;
}

#para1 {
    display: flex;
    grid-column: span 2;
    position: sticky;
    width: 600px;
    height: 200px;
    /* justify-content: end;
    flex-wrap: wrap; */
}

/* thumbnails */

#index-header {
    display: grid;
    grid-column: 3;
    justify-content: end;
    margin-top: 32px;
    margin-bottom: 0;
    height: 24px;
    width: 100%;
    /* background-color: blue; */
}

#index-container {
    display: flex;
    grid-column: 2;
    position: sticky;
    padding-top: 32px;
    padding-left: 16px;
    /* margin: 0; */
    /* margin-left: auto; */
    /* margin-right: 0; */
    text-align: left;
    min-height: 50vh;
    width: 100%;
    justify-content: start;
    flex-wrap: wrap;
    overflow: visible;
    row-gap: 48px;
    column-gap: 24px;
    /* background-color: aquamarine; */
    /* padding-top: 3.5rem;
    padding-bottom: 3.5rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;

    /* position: relative;
    z-index: 1; */
}

.p1 {
    display: flex;
    /* grid-column: ; */
    width: 285px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
}

.p2 {
    display: flex;
    /* grid-column: 3; */
    width: 285px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
}
.p3 {
    display: flex;
    /* grid-column: 3; */
    width: 285px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
}
.p4 {
    display: flex;
    grid-column: 1;
    width: 285px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
}
.p5 {
    display: flex;
    grid-column: 2;
    width: 285px;
    height: 300px;
    /* background-color: blue; */
    position: relative;
}

.caption {
    position: absolute;
    bottom: 0;
}

.tags {
    position: absolute;
    justify-content: left;
    /* bottom: 0; */
}
.caption2 {
    position: absolute;
    bottom: 0;
}

.tags2 {
    position: absolute;
    justify-content: left;
    /* bottom: 0; */
}
.caption3 {
    position: absolute;
    bottom: 0;
}

.tags3 {
    position: absolute;  
    justify-content: left;
    /* bottom: 0; */
}
.caption4 {
    position: absolute;
    bottom: 0;
}

.tags4 {
    position: absolute;  
    justify-content: left;
    /* bottom: 0; */
}
.caption5 {
    position: absolute;
    bottom: 0;
}

.tags5 {
    position: absolute;  
    justify-content: left;
    /* bottom: 0;  */
} 

.info-xl {
    display: block;
    margin-top: 0;
    font-weight: 700;
    line-height: 48px;
}

.p-info {
    display: block;
    width: 400px;
    justify-content: end;
    margin-top: 0;
}

.image {
   display: flex;
   justify-content: left;
   gap: 24px;
   margin-top: 48px;
}

#myStuff {
    display: none;
    text-align: left;
    line-height: 24px;
    margin: 0;
}

.view-more {
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0;
    
}

#short-list {
    line-height: 24px;
}

.footer li {
    display: inline;
    padding: 0;
    width: 800px;
    margin: 0 auto;
}

#footer {
    display: grid;
    grid-area: footer;
    position: fixed;
    bottom: 32px;
    width: 100%;
    height: 2.5em;
    left: 0;
    justify-content: right;
    padding: 24px 32px;
    
} 











@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100;
    }
}

/* -----------------GRAVEYARD------------------- */

/* footer { 
    place-items: end; 
    width: 100%;
    height: 100px;
    padding: 0 32px;
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    margin-right: 0;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    white-space: nowrap;
    font-size: 12px;
    overflow: auto;
    
} */

/* footer {
    display: grid;
    place-items: end;
    padding-right;
    padding: 32px;
    position: fixed;
    bottom: 32px; */
    /* align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    flex-flow: row wrap; */
    /* bottom: 0;
    width: 100%; */
    /* white-space: nowrap; */
    /* font-size: 12px; */
    /* overflow: auto; */


