@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');

/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif; */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav"
    "body body body body"
    "footer footer footer footer";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    grid-gap: 24px;
    column-gap: 24px;
    margin: 32px;
    grid-auto-flow: dense;
    object-fit: cover;
    
}

body {
    font-family: 'Libre Franklin', sans-serif;
    box-sizing: border-box;
    padding: 0em;
    width: 100%;
    color: 000;
}

.nav-container {
    display: grid;
    grid-template-columns: 1;
    width: 400px;
    
    
}
.nav-h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-bottom: 48px;
}


h2 {
    display: grid;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    line-height: 32px;
    /* margin: 0 0 0 24px;
    padding: 8px; */

    
}

ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
    
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color:000;
}

a.nav:hover {
    color: #000;
}

.smart {
    color: blue;
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
}

#index-container {
    display: flex;
    grid-template-columns: 2 / 3 / 4 / 2;
    object-fit: cover;
    position: sticky;
    gap: 24px;
    padding-top: 80px;
    margin: 24px;
    width: 100;
    resize: both;
  overflow: auto;
}
#p1-container {
    display: flex;
    grid-column: 2;
    position: sticky;
    width: 300px;
    height: 200px;
    object-fit: cover;
    background-color: blue;
}
#p2-container {
    display: flex;
    grid-column: 3;
    position: sticky;
    width: 300px;
    height: 200px;
    background-color: blue;
}
#p3-container {
    display: flex;
    grid-column: 4;
    position: sticky;
    width: 300px;
    height: 200px;
    background-color: blue;
}
#p4-container {
    display: flex;
    grid-column: 2;
    position: sticky;
    width: 300px;
    height: 200px;
    background-color: blue;
}
#p5-container {
    display: flex;
    grid-column: 3;
     position: sticky;
    width: 300px;
    height: 200px;
    background-color: blue;
}

.footer li {
    display: inline;
    padding: 0;
    width: 800px;
    margin: 0 auto;
}

#footer {
    display: grid;
    grid-area: footer;
    position: fixed;
    bottom: 32px;
    width: 100%;
    height: 2.5em;
    left: 0;
    justify-content: right;
    padding: 24px 32px;
    
} 
     /* position: fixed;
    bottom: 0;
    justify-content: end; */


/* footer { 
    place-items: end; 
    width: 100%;
    height: 100px;
    padding: 0 32px;
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    margin-right: 0;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    white-space: nowrap;
    font-size: 12px;
    overflow: auto;
    
} */

/* footer {
    display: grid;
    place-items: end;
    padding-right;
    padding: 32px;
    position: fixed;
    bottom: 32px; */
    /* align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    flex-flow: row wrap; */
    /* bottom: 0;
    width: 100%; */
    /* white-space: nowrap; */
    /* font-size: 12px; */
    /* overflow: auto; */


