@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;500;600;700&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300&display=swap');

/* font-family: 'Libre Franklin', sans-serif;
font-family: 'Source Serif Pro', serif; */

*, *:after, *:before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    margin: 24px;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

body > footer {
    position: sticky;
    /* top: 100vh; */
}

.nav-1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    position: fixed;
}

.nav2 {
    grid-area: nav2;
    grid-column: 6;
    grid-row: 1;
    margin-top: 24px;
    /* background-color: blue; */
    margin-top: 1em;
    justify-items: end;
    justify-self: right;
    position: sticky;
}

.content {
    display: grid;
    grid-area: content;
    grid-column: 3 / span 3;
    grid-row: 1;
    grid-gap: 24px;
    grid-template-columns: 1fr 1fr 1fr;
    /* background-color: blueviolet; */
    margin-top: 1em;
    justify-items: end;
    margin-bottom: 2em;
}

.container-content-1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    margin-top: 24px;
    
}
.container-content-2 {
    grid-column: 1;
    grid-row: 2;
    margin-top: 32px;
    
}
.container-content-3 {
    grid-column: 1;
    grid-row: 3;
    margin-top: 32px;
}


.header {
    display: grid;
    grid-area: header;
    grid-column: 1 / span 2;
    grid-row: 1;
    position: sticky;
    top: 0;
    /* margin-top: 24px; */
}

.footer {
    display: grid;
    grid-area: footer;
    grid-row: auto;
    grid-column: 6;
    justify-content: end;
    grid-row-end: auto;
    float: right;
    bottom:0;
    left:0;
    right:0;
    flex: 100%;
    position: fixed;
    margin-right: 16px;
    margin-bottom: 24px;
}

.wrapper {
    background-color: white;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-gap: 24px;
    grid-template-columns: .2fr 1fr 1fr 1fr 1fr .5fr;
    grid-template-areas:
    'header header header header header header',
    'nav1 content content content content nav 2'
    'footer footer footer footer footer footer';
    grid-auto-flow: column;
    /* grid-template-rows: auto; */
    /* height: 100vh; */
}

h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
}

.nav-h1 {
    display: block;
    grid-area: header;
    grid-column: 1;
    grid-row: 1;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-bottom: 32px;
    /* position: sticky; */
    font-size: calc(.8em + .8vw);
    line-height: calc(1em = 1vw);
}

h2 { 
    display: inline;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding: 8px 0;
    margin: 0; 
    font-size: calc(.7em + .7vw);
    line-height: calc(1em = 1vw);
    /* position: sticky; */
    /* font-size: calc(.5em + 1vw); */
    /* line-height: calc(1em = 1vw); */
}

h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: 400;
   
}

/* nav {
    display: flex; */
    /* background-color: rgb(255, 255, 105); */
/*     
} */

/* nav.fixed {
    display: flex;
    position: fixed; */
    /* grid-column: 1; */
    /* width: 100px;
    height: 100px;
    top: 24px;
    left: 24px;
    z-index: 100;
    align-items: center;
    padding: 8px; */
    /* height: 100vh; */
    /* background-color: rgb(255, 255, 105);
} */

/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
} */

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color:000;
}

a.main-nav:hover {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
}
/* a.main-nav-1:hover {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
} */

a.nav:hover {
    color: #000;
}

.smart-link {
    color: rgb(51, 51, 240);
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

/* ------home: slideshow------ */

.p-1 {
    display:none;
    object-fit: contain;
    height: 50vh;
    width: 100vh;
}

.p-2 {
    display:none;
    object-fit: contain;
    height: 50vh;
    width: 100vh;
}

.p-3 {
    display:flex;
    object-fit: contain;
    height: 50vh;
    width: 100vh;
}

figcaption {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    line-height: 24px;
    justify-content: left;
    padding-left: 0;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

/* .content-more { 

} */

/* slideshow buttons */

.prev .next {
    align-self: center;
    padding: 0;
}
.next {
    cursor: pointer;
    right: 0;
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: calc(.5em + .5vw); 
    line-height: calc(1em = 1vw);

}

.prev {
    cursor: pointer;
    left: 0;
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: calc(.5em + .5vw);
}

/* --------------About page----------------- */

.content-section-xl {
    display: grid;
    grid-column: 1 / span 2;
    grid-row: 1 / 2;

}

.content-section-xl-header {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 48px;
    font-weight: 500;
    font-size: calc(1em + 1vw);
    line-height: calc(1em = 1vw);
}

.xl-header {
    font-size: 48px;
    font-family: 'Source Serif Pro', serif;
    font-weight: 300;
    line-height: 56px;
}

.sm-header {
    font-size: 16px;
    line-height: 24px;
}
.content-section-img {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    justify-self: left;
    padding-right: 24px;
    object-fit: contain;
}

.content-section {
    grid-column: 2;
    grid-row: 2;
    line-height: 24px;

}

.content-section-resume {
    grid-column: 1;
    grid-row: 3;
    justify-self: left;
}


.info-xl {
    display: flex;
    margin-top: 0;
    font-weight: 700;
    line-height: 48px;
    width: 800px;
   
}

.info-name-xl {
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 300;
   
}

.p-info {
    display: block;
    width: 400px;
    justify-content: end;
    margin-top: 0;
}

.image {
   display: flex;
   justify-content: left;
   gap: 24px;
   margin-top: 48px;
   /* height: 50vh;
   width: 100vh; */
}

/* #resume {
    margin-top: 24px;
} */

#myStuff {
    display: none;
    text-align: left;
    line-height: 24px;
    margin: 0;
    line-height: calc(1em = 1vw);
}

.fa-plus {
    padding: 8px;
    font-weight: 300;
    justify-content: center;
}

#resume-container {
    line-height: 16px;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

.view-more {
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0;
    cursor: pointer;
    font-size: calc(.25em + .25vw);
    line-height: calc(.5em = .5vw);
}

.view-less {
    font-family: 'Libre Franklin', sans-serif;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

#short-list {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 24px;
    line-height: calc(.5em = .5vw);
}

.resume-content {
    color: rgb(111, 111, 111);
    font-weight: 200;
}

.experience-container {
    font-family: 'Libre Franklin', sans-serif;
    line-height: 24px; 
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

ul {
    /* display: grid; */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* .section-line {
    grid-column: span 1;
    grid-row: 3;
    border: .5px solid;
    color: rgb(111, 111, 111);
    justify-self: left;
    width: 400px;
} */

/* -----Project pages----- */

.project-nav {
    padding-top: 32px;
    margin-left: 16px;
}

.content-0 h2 {
    color:rgb(111, 111, 111);
}

.content-projects {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 3em;
    margin-left: 32px;
    row-gap: 8px;

}

.index-container {
    font-size: 48px;
    line-height: 42px;
    font-size: calc(1.4em + 1.4vw);
    line-height: calc(1em = 1vw);
}

/* .content-1 {
    grid-row: 2;
} */

.index-container:hover {
    cursor: pointer;
    /* opacity: 0.5; */
    text-decoration: underline;
}

.footer-content ul li {
    display: inline;
    list-style: none;
    padding: 8px;
}

a, .footer-content {
    text-decoration: none;
}

 

@media only screen and (max-width: 600px) {
    body {
      width: 100%;
      height: 100%;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
      width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .wrapper {
      width: 100%;
    }
  }

  /* @media only screen and (min-width: 500px) {
    .wrapper {
        grid-template-columns: 20% auto;
        grid-template-areas: 
        'header header',
        'nav1 content',
        'nav 2 nav 2',
        'footer footer';
    }
} */

/* @media (max-width: 600px) {
    .wrapper {
        grid-template-areas:
        'header header header header header header',
        'content content content content content content'
        'footer footer footer footer footer footer';
      
}

} */



/* ------------new code ends here-------------- */

/* main container */

/* .grid {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav"
    "body body body body"
    "footer footer footer footer";
    grid-template-columns: 1fr .1fr 2fr .05fr;
    grid-template-rows: auto;
    column-gap: 24px;
    margin: 24px;
    grid-auto-flow: dense; */

    /* background-color: rgb(192, 120, 32); */
/* }

.grid-thumbnails {
    display: flex;
    grid-column: 3 / 4;
    width: 100vh;
    column-gap: 24px;
    grid-auto-flow: hidden;
    justify-content: start;

} */

/* .grid-info {
    display: grid;
    grid-column: 3;
    grid-gap: 24px;
    column-gap: 24px;
    margin: 32px;
    grid-auto-flow: hidden;
    font-size: calc(.5em + .5vw);
    line-height: calc(.5em = .5vw);

 } */

/* body {
    font-family: 'Libre Franklin', sans-serif;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
    box-sizing: border-box;
    padding: 0em;
    color: 000; */
    /* height: 100vh; */
/* } */

/* header {
    display: flex;
    grid-column: 1 / 2 / 3 / 4;
    background-color: none;
    
}

header.fixed {
    position: fixed;
    grid-column: 1;
    width: 0;
    top: 24px;
    left: 24px;
    z-index: 100;
    height: 100vh;
} */
/* -----main nav----- */

/* .nav-container {
    display: grid;
    grid-column: 1;
}

#nav {
    width: 500px;
    box-sizing: border-box;
}

.nav-h1 {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(0, 0, 0);
    padding-bottom: 48px;
    position: sticky;
    font-size: calc(1em + 1vw);
    line-height: calc(1em = 1vw);
}

h2 { 
    display: grid;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: #000;
    padding: 8px 0;
    margin: 0; 
    position: sticky; */
    /* line-height: 32px; */
    /* font-size: calc(.5em + 1vw); */
    /* line-height: calc(1em = 1vw); */
/* }

h3 {
    font-family: 'Source Serif Pro', serif;
    font-size: 24px;
    font-weight: 400;
   
}

ul {
    display: grid;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover{
    color:000;
}

a.main-nav:hover {
    font-family: 'Source Serif Pro', serif;
    font-weight: 200;
}

a.nav:hover {
    color: #000;
}

.smart-link {
    color: rgb(51, 51, 240);
}

p {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
} */

/* -----home screen: project showcase----- */

/* #project-container {
    display: flex;
    grid-column: 3;
    gap: 0px;
    padding-top: 0;
    margin: 32px;
    width: 100vh;
    overflow: visible;
    /* background-color: cornflowerblue; */
    /* position: sticky;
}
#project-container-2 {
    display: flex;
    grid-column: 3;
    gap: 0px;
    padding-top: 0;
    margin: 32px;
    width: 100vh;
    overflow: visible; */ 
    /* background-color: cornflowerblue; */
    /* position: sticky;
}

.p-1 {
    display: flex;
    padding-left: 24px;
    top: 0;
    bottom: 0;
    margin: auto; */
    /* width: 100%; */
    /* object-fit: contain;
    height: 50vh;
    width: 100vh;
} 
.p-2 {
    display: flex;
    padding-left: 24px;
    top: 0;
    bottom: 0;
    margin: auto; */
    /* width: 100%; */
    /* object-fit: contain;
    height: 50vh;
    width: 100vh;
}  */

/* section {
    padding-right: 48px;
    width: 400px;
}
section .project-2 {
    padding-right: 48px;
    width: 400px;
} */

/* #project-1 {
    display: flex;
    grid-column: 3;
    justify-content: end;
    object-fit: cover; */
    /* justify-content: left; */
    /* gap: 24px;
    margin-top: 0;
    width: 100%;
    position: sticky; */
    /* height: 50vh; */
/* } */

/* .home-project {
    font-family:'Source Serif Pro', serif;
    font-weight: 600;
    font-size: 32px;
    font-size: calc(1em + 1vw);
    line-height: calc(1em = 1vw);
} */

/* .home-description {
    color: rgb(67, 67, 67);
}
.home-tag {
    font-size: 14px;
    color: 000;
    font-size: calc(.5em + .5vw);
    line-height: calc(1em = 1vw);
}

.read-more {
    color: rgb(67, 67, 67);
} */

/* .p-1 {
    display:none;
}
.p-2 {
    display:none;
}

.prev .next {
    align-self: center;
    padding: 0;
}
.next {
    cursor: pointer;
    right: 0;
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: calc(.5em + .5vw); */
    /* line-height: calc(1em = 1vw); */


/* }

.prev {
    cursor: pointer;
    left: 0;
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    font-weight: 100;
    font-size: calc(.5em + .5vw);
} */

/* -----index page: thumbnails----- */

/* #index-header {
    display: grid;
    grid-column: 4;
    position: fixed;
    top: 32px;
    width: 100%;
    height: 2.5em;
    left: 0;
    justify-content: right;
    padding: 24px 32px; */
    /* font-size: calc(.3em + .3vw);
    line-height: calc(.5em = .5vw); */
    /* background-color: blue; */
/* }

#index-container {
    display: flex;
    grid-column: 2 / 3;
    position: sticky;
    column-gap: 24px;
    padding-top: 32px;
    row-gap: 48px;
    padding-left: 16px;
    margin-top: 8px;
    text-align: left;
    min-height: 50vh;
    width: 100vh;
    justify-content: start; 
    flex-wrap: wrap;
    overflow: hidden; */
    /* background-color: aquamarine; */
/* }

.p1:hover {
    cursor: pointer;
    opacity: 0.5;
}
.p2:hover {
    cursor: pointer;
    opacity: 0.5;
}
.p3:hover {
    cursor: pointer;
    opacity: 0.5;
}
.p4:hover {
    cursor: pointer;
    opacity: 0.5;
}
.p5:hover {
    cursor: pointer;
    opacity: 0.5;
}
.p6:hover {
    cursor: pointer;
    opacity: 0.5;
}

.p1 {
    display: flex; */
    /* display: flex; */
    /* grid-column: 2; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;
}

.p2 {
    display: flex; */
    /* grid-column: 2; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;
}
.p3 {
    display: flex; */
    /* grid-column: 2; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;
}
.p4 {
    display: flex; */
    /* grid-column: 2; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;
}
.p5 {
    display: flex; */
    /* grid-column: 4; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;

}
.p6 {
    display: flex; */
    /* grid-column: 2; */
    /* width: 285px;
    height: 300px; */
    /* background-color: blue; */
    /* position: relative; */
    /* position: sticky;

}

.content-index {
    position: absolute;
    display: block;
    bottom: 0;
}

.index-tag li {
    display: inline;
    justify-content: left;
    font-size: 14px;
    color: rgb(67, 67, 67);
    font-size: calc(.4em + .4vw); */
    /* line-height: calc(.5em = .5vw); */
/* } */

/* -----info page----- */

/* .info-xl {
    display: flex;
    margin-top: 0;
    font-weight: 700;
    line-height: 48px;
    width: 800px;
   
}

.info-name-xl {
    font-family: 'Source Serif Pro', serif;
    font-size: 48px;
    font-weight: 300;
   
}

.p-info {
    display: block;
    width: 400px;
    justify-content: end;
    margin-top: 0;
}

.image {
   display: flex;
   justify-content: left;
   gap: 24px;
   margin-top: 48px;
}

#resume {
    margin-top: 24px;
}

#myStuff {
    display: none;
    text-align: left;
    line-height: 24px;
    margin: 0;
    line-height: calc(1em = 1vw);
}

.fa-plus {
    padding: 8px;
    font-weight: 300;
    justify-content: center;
}

#resume-container {
    line-height: 16px;
}

.view-more {
    border: none;
    background: none;
    font-family: 'Libre Franklin', sans-serif;
    font-size: 16px;
    text-align: left;
    padding: 0;
    cursor: pointer;
    font-size: calc(.25em + .25vw);
    line-height: calc(.5em = .5vw);
}

#short-list {
    line-height: 24px;
    line-height: calc(.5em = .5vw);
}

.resume-content {
    color: rgb(67, 67, 67);
    font-weight: 200;
}

.experience-container {
    line-height: 24px; */
/* } */

/* -----Project pages----- */

/* .project-nav {
    padding-top: 32px;
    margin-left: 16px;
} */

/* -----footer----- */

/* .footer li {
    color: #000;
    display: inline;
    padding: 8px;
    width: 800px;
    margin: 0 auto;
}

#footer {
    display: grid;
    grid-area: footer;
    position: fixed;
    bottom: 32px;
    width: 100%;
    height: 2.5em;
    left: 0;
    justify-content: right;
    padding: 24px 32px;
    
}  */

/* -----media----- */

/* @media screen and (min-width: 150px) {
    html {
        margin-left: calc(100vw - 100%);
        margin-right: 0;
    }
} */

/* @media (min-width: 50em) {
    h1 {
        font-size: 32px;
    }
} */

  /* @media screen and (min-width:700px) {
  .grid {
    display: grid;
    grid-template-areas: 
    "header header header header"
    "nav"
    "body body body body"
    "footer footer footer footer";
    grid-template-columns: 1fr .1fr 2fr .05fr;
    grid-template-rows: auto;
    column-gap: 24px;
    margin: 24px;
    grid-auto-flow: dense;
}
  } */

/* main nav */
/* @media (min-width: 992px) {
    .hide{
        top: -50px;
    }
}


@media only screen and (max-width: 600px) {
    body {
        width: 100%;
        height: 100%;
    }
} */

/* needs to be adjusted */
/* img {
    width: 100%; */
    /* height: auto; */
  /* } */

  /* .fullwidth {
    width: 100%;
    float: left;
  }

  :root {

    --following-width: -400px;

  } */
 
/* -----------------GRAVEYARD------------------- */

/* .caption2 {
    position: absolute;
    bottom: 0;
}

.tags2 {
    position: absolute;
    justify-content: left; */
    /* bottom: 0; */
/* }
.caption3 {
    position: absolute;
    bottom: 0;
}

.tags3 {
    position: absolute;  
    justify-content: left; */
    /* bottom: 0; */
/* }
.caption4 {
    position: absolute;
    bottom: 0;
}

.tags4 {
    position: absolute;  
    justify-content: left; */
    /* bottom: 0; */
/* }
.caption5 {
    position: absolute;
    bottom: 0;
} */

/* .tags5 {
    position: absolute;  
    justify-content: left; */
    /* bottom: 0;  */
/* }  */

/* .caption {
    position: absolute;
    bottom: 0;
} */

/* .tags {
    position: absolute;
    justify-content: left;
    font-size: 14px; */
    /* bottom: 0; */
/* } */

 /* // before fixed position */
    /* justify-content: end;
    margin-top: 16px;
    margin-bottom: 0;
    height: 24px;
    width: 100%; */

/* .p-2 {
    display: flex;
    padding-left: 24px;
    top: 0;
    bottom: 0;
    margin: auto;
    /* /* width: 100%;  */
    /* object-fit: contain;
    height: 50vh;
    width: 100vh
     */
/* } */
/* .p-3 {
    display: flex;
    padding-left: 24px;
    top: 0;
    bottom: 0;
    margin: auto; */
    /* width: 100%; */
    /* object-fit: contain;
    height: 50vh;
    width: 100vh
    
}  */

/* #project-container {
    display: flex;
    grid-column: 3;
    gap: 0px;
    padding-top: 0;
    margin: 32px;
    width: 100vh; */
    /* min-height: 100vh; */
    /* min-height: 50vh; */
    /* width: 100%; */
    /* justify-content: left; */
    /* flex-wrap: wrap; */
    /* overflow: visible; */
    /* justify-content: flex-start; */
    /* position: relative; */
    /* z-index: 1; */
    /* background-color: cornflowerblue; */
    /* position: sticky;
    

} */

/* top: -200 !important; */

/* 
header {
    background-color: none;

}

header.fixed {
    position: fixed;
    top:0;
    z-index:100;
} */

 /* box-sizing: border-box;
    padding: 0;
    margin: 0; */

/* footer { 
    place-items: end; 
    width: 100%;
    height: 100px;
    padding: 0 32px;
    box-sizing: border-box;
    position: fixed;
    bottom: 32px;
    margin-right: 0;
    align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    white-space: nowrap;
    font-size: 12px;
    overflow: auto;
    
} */

/* footer {
    display: grid;
    place-items: end;
    padding-right;
    padding: 32px;
    position: fixed;
    bottom: 32px; */
    /* align-items: flex-end;
    justify-content: end;
    flex-direction: row;
    flex-flow: row wrap; */
    /* bottom: 0;
    width: 100%; */
    /* white-space: nowrap; */
    /* font-size: 12px; */
    /* overflow: auto; */


